# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg_info/
.env
.env.*

# Virtual environments
venv/
env/

# ---- Node / React ----
node_modules/
dist/
build/
*.log

# ---- Vite cache ----
./Vite

# ---- Docker ----
*.pid
*.sock

# ---- IDES / OS ----
.DS_Store
Thumbs.db
.idea/
.vscode/